@charset "utf-8";

body {
  background: white;
}

.title {
  margin: 30px auto 0;
  text-align: center;
  border-radius: 50%;
  font-size: 50px;
  font-weight: bold;
}

#btn {
  margin: 30px auto 0;
  width: 220px;
  height: 200px;
  border-radius: 50%;
  /* 50%で円になる */
  background: #EF454A;
  text-align: center;
  line-height: 200px;
  /* line-heightをheightに合わせると文字が真ん中になる */
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
  /* ボタンにはこれをつける */
  opacity: 0.9;
  box-shadow: 0 10px 0 #D1483E;
  border: 3px solid #D1483E;

  user-select: none;
  /*文字を選択されないようになる(色掛けにならない)*/
}

#btn:hover {
  opacity: 1;
}

#btn.pushed {
  margin-top: 36px;
  box-shadow: 0 4px 0 #D1483E;
}

#left {
  text-align: center;
}
#right {
  margin-top: 70px;
}
